<footer class="footer">
  <small>
    <%= t".the" %> <%= link_to t(".rails_tutorial"), Settings.railstutorial %>
    <%= t".by" %>  <%= link_to t(".michael_hartl"), Settings.michael_hartl %>

  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.newrailstutorial %></li>
    </ul>
  </nav>
</footer>
